.advertisement{
    background-color: #f7f3ec;
    width: 200px;
    text-align: center;
    background-color: aqua;
    position: absolute;
    left: 50px;
    height: 250px;
    padding: 25px;
    top: 500px;
}