.advertisement{
    background-color: #f7f3ec;
    width: 200px;
    text-align: center;
    background-color: aqua;
    position: absolute;
    left: 50px;
    height: 250px;
    top: 500px;
    img{
      width: 200px;
      height: 250px;
    }
}