.advertisement2{
    background-color: #f7f3ec;
    width: 200px;
    text-align: center;
    background-color: #00ffff;
    height: 480px;
    img{
      width: 200px;
      height: 480px;
    }
}