.advertisement2{
    background-color: #f7f3ec;
    width: 200px;
    text-align: center;
    background-color: aqua;
    position: absolute;
    left: 1100px;
    height: 480px;
    top: 470px;
    img{
      width: 200px;
      height: 480px;
    }
}