@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{

}

.live-score-header-top-katigoriya {
  display: flex;
  align-items: center;
  gap: 61px;

  div {
    display: flex;
    align-items: center;
    gap: 10px;

    button {
      padding: 8px 22px;
      background-color: #3461FD;
      border: 2px solid transparent;
      border-radius: 10px;
      color: #fff;
      font-family: "Roboto", sans-serif;
      cursor: pointer;
    }
  }
}

.live-score-header-pinned-leagues{
  width: 100%;
  margin: 0 auto;
  background-color: #F4F7FF;
  padding: 14px 16px;
  margin-top: 30px;
  border-radius: 8px;
  h1{
    font-size: 16px;
    font-weight: 400;
    color: #222226;
    text-align: center;
  }
}

.switch {
  position: relative;
  width: 40px;
  height: 22px;
  -webkit-appearance: none;
  background: #ddd;
  outline: none;
  border-radius: 22px;
  transition: background 0.3s;
  cursor: pointer;
}

.switch:checked {
  background: #4caf50;
}

.switch::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 1px;
  left: 1px;
  background: #444;
  transition: 0.3s;
}

.switch:checked::before {
  left: 19px;
  background: #fff;
}

.slider {
  display: none;
}