.div-sc-fqkv-vr,
.div-sc-fqkv-vr * {
  box-sizing: border-box;
}
.div-sc-fqkv-vr {
  background: #ffffff;
  border-radius: 24px;
  height: 1269.3px;
  position: relative;
  box-shadow: 0px 1px 8px 2px rgba(34, 34, 38, 0.08);
  overflow: hidden;
}
.div-sc-fqkv-vr .link-image {
  width: 48px;
  position: absolute;
  left: calc(50% - 174px);
  bottom: 1205.3px;
  top: 16px;
  overflow: hidden;
  object-fit: cover;
}
.div-sc-fqkv-vr .link {
  height: 13.67px;
  position: absolute;
  right: 340.28px;
  left: 40.279998779296875px;
  top: 72.33px;
  overflow: hidden;
}
.div-sc-fqkv-vr .newcastle {
  color: #222226;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 11.4375px;
  line-height: 13.68px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: -1px;
  width: 59.64px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-sc-fqkv-vr .button-svg {
  width: 24px;
  height: 24px;
  position: absolute;
  left: calc(50% - 207px);
  top: calc(50% - 606.65px);
  overflow: visible;
}
.div-sc-fqkv-vr .span-sc-j-ea-cw-c {
  height: 15.95px;
  position: absolute;
  right: 192.19px;
  left: 192.1699981689453px;
  top: 54.97px;
  overflow: hidden;
}
.div-sc-fqkv-vr .finished {
  color: rgba(34, 34, 38, 0.45);
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13.78125px;
  line-height: 15.96px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: -1px;
  width: 54.72px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-sc-fqkv-vr .span-sc-j-ea-cw-c2 {
  width: 55.64px;
  height: 17px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 35.06px;
  overflow: hidden;
}
.div-sc-fqkv-vr .div {
  color: rgba(34, 34, 38, 0.45);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 28px;
  line-height: 31.92px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: -15px;
  width: 23.9px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-sc-fqkv-vr ._1 {
  color: rgba(34, 34, 38, 0.45);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 28px;
  line-height: 31.92px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 27.82px);
  top: -15px;
  width: 16.17px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-sc-fqkv-vr ._3 {
  color: #222226;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 28px;
  line-height: 31.92px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - -11.85px);
  top: -15px;
  width: 16.17px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-sc-fqkv-vr .link-image2 {
  width: 48px;
  position: absolute;
  left: calc(50% - -125.98px);
  bottom: 1205.3px;
  top: 16px;
  overflow: hidden;
  object-fit: cover;
}
.div-sc-fqkv-vr .link2 {
  height: 13.67px;
  position: absolute;
  right: 51.93px;
  left: 351.8999938964844px;
  top: 72.33px;
  overflow: hidden;
}
.div-sc-fqkv-vr .forest {
  color: #222226;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 11.625px;
  line-height: 13.68px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: -1px;
  width: 36.37px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-sc-fqkv-vr .button-svg2 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: calc(50% - -182.98px);
  top: calc(50% - 606.65px);
  overflow: visible;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr2 {
  background: linear-gradient(
    90deg,
    rgba(1, 123, 91, 1) 0%,
    rgba(0, 0, 0, 0.25) 50%,
    rgba(1, 123, 91, 1) 100%
  );
  border-radius: 16px;
  height: 106.53px;
  position: absolute;
  right: 8px;
  left: 8px;
  top: 110px;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr3 {
  background: #ffffff;
  border-radius: 16px;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.div-sc-fqkv-vr .full-time {
  color: #222226;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 11.8125px;
  line-height: 15.96px;
  font-weight: 500;
  position: absolute;
  left: 12px;
  top: 8px;
  width: 47.34px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr4 {
  background: #ffffff;
  border-radius: 4px;
  border-style: solid;
  border-color: rgba(34, 34, 38, 0.15);
  border-width: 1px;
  width: 128px;
  position: absolute;
  left: 12px;
  bottom: 36.95px;
  top: 31.950000762939453px;
}
.div-sc-fqkv-vr .span-sc-j-ea-cw-c3 {
  width: 118px;
  height: 15.95px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: calc(50% - 15.82px);
  overflow: hidden;
}
.div-sc-fqkv-vr ._12 {
  color: rgba(34, 34, 38, 0.45);
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 12px;
  line-height: 15.96px;
  font-weight: 500;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 0px;
  width: 7.04px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-sc-fqkv-vr ._1-40 {
  color: #222226;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 11.25px;
  line-height: 13.68px;
  font-weight: 700;
  position: absolute;
  left: 52.14px;
  top: 17.96px;
  width: 23.9px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr5 {
  background: #ffffff;
  border-radius: 4px;
  border-style: solid;
  border-color: rgba(34, 34, 38, 0.15);
  border-width: 1px;
  width: 128px;
  position: absolute;
  left: 148px;
  bottom: 36.95px;
  top: 31.950000762939453px;
}
.div-sc-fqkv-vr .x {
  color: rgba(34, 34, 38, 0.45);
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 12px;
  line-height: 15.96px;
  font-weight: 500;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 0px;
  width: 7.65px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr6 {
  width: 33.7px;
  height: 13.67px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: calc(50% - -0.14px);
}
.div-sc-fqkv-vr .div2 {
  width: 10px;
  height: 8px;
  position: absolute;
  left: 0px;
  top: 50%;
  translate: 0 -50%;
}
.div-sc-fqkv-vr .svg {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.div-sc-fqkv-vr ._5-00 {
  color: #222226;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 10.5px;
  line-height: 13.68px;
  font-weight: 700;
  position: absolute;
  left: 10px;
  top: -1px;
  width: 23.9px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr7 {
  background: #ffffff;
  border-radius: 4px;
  border-style: solid;
  border-color: #374df5;
  border-width: 1px;
  width: 128px;
  position: absolute;
  left: 284px;
  bottom: 36.95px;
  top: 31.950000762939453px;
}
.div-sc-fqkv-vr ._2 {
  color: rgba(34, 34, 38, 0.45);
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 12px;
  line-height: 15.96px;
  font-weight: 500;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 0px;
  width: 7.04px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-sc-fqkv-vr .svg2 {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.div-sc-fqkv-vr ._6-50 {
  color: #222226;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 10.5px;
  line-height: 13.68px;
  font-weight: 700;
  position: absolute;
  left: 10px;
  top: -1px;
  width: 23.9px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-sc-fqkv-vr .gamble-responsibly-18 {
  color: rgba(34, 34, 38, 0.45);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 9.53125px;
  line-height: 12px;
  font-weight: 500;
  position: absolute;
  left: 12px;
  top: 80.05px;
  width: 110.9px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-sc-fqkv-vr .span-sc-j-ea-cw-c4 {
  width: 62.05px;
  height: 15px;
  position: absolute;
  left: 349.95px;
  top: 78.58px;
  overflow: hidden;
}
.div-sc-fqkv-vr .show-more {
  color: #374df5;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 11.4375px;
  line-height: 15.96px;
  font-weight: 500;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 62.25px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr8 {
  background: #f4f7ff;
  border-radius: 12px;
  height: 47.95px;
  position: absolute;
  right: 8px;
  left: 8px;
  top: 386.53px;
}
.div-sc-fqkv-vr .add-attack-momentum-to-your-website {
  color: #374df5;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13.234375px;
  line-height: 15.96px;
  font-weight: 700;
  position: absolute;
  left: 130.86px;
  top: 15px;
  width: 257.34px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-sc-fqkv-vr .svg3 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 400px;
  top: 15.92px;
  overflow: hidden;
}
.div-sc-fqkv-vr .group {
  height: auto;
  position: absolute;
  left: 2px;
  top: 4.59px;
  overflow: visible;
}
.div-sc-fqkv-vr .image {
  height: 16px;
  position: absolute;
  right: 416px;
  left: 8px;
  top: 290.53px;
  overflow: hidden;
  object-fit: cover;
}
.div-sc-fqkv-vr .image2 {
  height: 16px;
  position: absolute;
  right: 416px;
  left: 8px;
  top: 330.53px;
  overflow: hidden;
  object-fit: cover;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr9 {
  background: rgba(34, 34, 38, 0.06);
  width: 406px;
  position: absolute;
  left: 26px;
  bottom: 910.77px;
  top: 278.5299987792969px;
}
.div-sc-fqkv-vr .svg4 {
  height: 80px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
}
.div-sc-fqkv-vr .group2 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.div-sc-fqkv-vr .group3 {
  width: 99.75%;
  height: 66.5%;
  position: absolute;
  right: 0%;
  left: 0.25%;
  bottom: 26.5%;
  top: 7%;
  overflow: visible;
}
.div-sc-fqkv-vr .group4 {
  width: 50.12%;
  height: 100%;
  position: absolute;
  right: -0.12%;
  left: 50%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.div-sc-fqkv-vr .group5 {
  width: 45.05%;
  height: 150%;
  position: absolute;
  right: 33.33%;
  left: 21.61%;
  bottom: -25%;
  top: -25%;
  overflow: visible;
}
.div-sc-fqkv-vr .heading-3-attack-momentum {
  color: #222226;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 15.25px;
  line-height: 20px;
  letter-spacing: -0.2px;
  font-weight: 700;
  position: absolute;
  left: 152.16px;
  top: 224.53px;
  width: 135.87px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-sc-fqkv-vr .button-svg3 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: calc(50% - -177px);
  top: calc(50% - 412.12px);
  overflow: hidden;
}
.div-sc-fqkv-vr .group6 {
  width: 83.33%;
  height: 83.33%;
  position: absolute;
  right: 8.33%;
  left: 8.33%;
  bottom: 8.33%;
  top: 8.33%;
  overflow: visible;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr10 {
  border-style: solid;
  border-color: rgba(34, 34, 38, 0.15);
  border-width: 1px 0px 1px 0px;
  height: 66px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 442.48px;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr11 {
  background: #f4f7ff;
  border-radius: 24px;
  height: 48px;
  position: absolute;
  right: 12px;
  left: 12px;
  top: 9px;
}
.div-sc-fqkv-vr .image3 {
  border-radius: 20px;
  border-style: solid;
  border-color: rgba(34, 34, 38, 0.15);
  border-width: 1px;
  width: 40px;
  position: absolute;
  left: 4px;
  bottom: 4px;
  top: 4px;
  overflow: hidden;
  object-fit: cover;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr12 {
  background: #a2bc00;
  border-radius: 4px;
  width: 24px;
  position: absolute;
  left: 52px;
  bottom: 20px;
  top: 4px;
}
.div-sc-fqkv-vr ._7-9 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 12.359375px;
  line-height: 14px;
  font-weight: 700;
  position: absolute;
  left: 3.31px;
  top: 5px;
  width: 17.58px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c {
  position: absolute;
  right: 76px;
  left: 76px;
  bottom: 20px;
  top: 4px;
  overflow: hidden;
}
.div-sc-fqkv-vr .sofascore-ratings {
  color: #374df5;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 11.625px;
  line-height: 15.96px;
  font-weight: 500;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 0px;
  width: 101.92px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr13 {
  background: #037ab0;
  border-radius: 4px;
  width: 24px;
  position: absolute;
  left: 340px;
  bottom: 20px;
  top: 4px;
}
.div-sc-fqkv-vr ._9-5 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 11.15625px;
  line-height: 14px;
  font-weight: 700;
  position: absolute;
  left: 3.31px;
  top: 5px;
  width: 17.58px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c2 {
  position: absolute;
  right: 208px;
  left: 52px;
  bottom: 4px;
  top: 28.049999237060547px;
  overflow: hidden;
}
.div-sc-fqkv-vr .alexander-isak {
  color: rgba(34, 34, 38, 0.45);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 11.4375px;
  line-height: 15.96px;
  font-weight: 500;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 81.43px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c3 {
  position: absolute;
  right: 52px;
  left: 208px;
  bottom: 4px;
  top: 28.049999237060547px;
  overflow: hidden;
}
.div-sc-fqkv-vr .chris-wood {
  color: rgba(34, 34, 38, 0.45);
  text-align: right;
  font-family: "Inter-Medium", sans-serif;
  font-size: 11.4375px;
  line-height: 15.96px;
  font-weight: 500;
  position: absolute;
  right: -0.2px;
  top: 0px;
  width: 63.97px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div-sc-fqkv-vr .image4 {
  border-radius: 20px;
  border-style: solid;
  border-color: rgba(34, 34, 38, 0.15);
  border-width: 1px;
  width: 40px;
  position: absolute;
  left: 372px;
  bottom: 4px;
  top: 4px;
  overflow: hidden;
  object-fit: cover;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr14 {
  background: #ffffff;
  border-radius: 16px;
  width: 440px;
  height: 751.81px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: calc(50% - 125.17px);
}
.div-sc-fqkv-vr .div-sc-fqkv-vr15 {
  background: #f4f7ff;
  border-radius: 16px;
  height: 23.95px;
  position: absolute;
  right: 8px;
  left: 8px;
  top: 8px;
}
.div-sc-fqkv-vr .ft-1-3 {
  color: #222226;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13.125px;
  line-height: 15.96px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 3px;
  width: 47.04px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-sc-fqkv-vr .svg5 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: calc(50% - -188px);
  top: calc(50% - 331.94px);
  overflow: visible;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c4 {
  height: 24px;
  position: absolute;
  right: 36px;
  left: 372px;
  top: 43.96px;
}
.div-sc-fqkv-vr ._90 {
  color: rgba(34, 34, 38, 0.45);
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 10.875px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 14.36px);
  top: 4px;
  width: 16.56px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-sc-fqkv-vr .superscript {
  color: rgba(34, 34, 38, 0.45);
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 9px;
  line-height: 0px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - -2px);
  top: 2.5px;
  width: 12.54px;
  height: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-sc-fqkv-vr .div-sc-ee-drcy {
  background: rgba(34, 34, 38, 0.15);
  width: 1px;
  position: absolute;
  left: 367px;
  bottom: 683.85px;
  top: 43.959999084472656px;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr16 {
  width: 178.34px;
  height: 32px;
  position: absolute;
  left: 188.66px;
  top: calc(50% - 335.94px);
  overflow: hidden;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr17 {
  width: 162.34px;
  height: 32px;
  position: absolute;
  left: 8px;
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c5 {
  width: 87.16px;
  height: 16px;
  position: absolute;
  left: calc(50% - 5.99px);
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .in-c-kouyat {
  color: #222226;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13.34375px;
  line-height: 15.96px;
  font-weight: 400;
  position: absolute;
  right: -0.2px;
  top: -1px;
  width: 87.36px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c6 {
  width: 71.19px;
  height: 16px;
  position: absolute;
  left: calc(50% - 81.17px);
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .out-danilo {
  color: rgba(34, 34, 38, 0.45);
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13.671875px;
  line-height: 15.96px;
  font-weight: 400;
  position: absolute;
  right: -0.2px;
  top: -1px;
  width: 71.39px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div-sc-fqkv-vr .svg6 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: calc(50% - -188px);
  top: calc(50% - 299.94px);
  overflow: visible;
}
.div-sc-fqkv-vr ._902 {
  color: rgba(34, 34, 38, 0.45);
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 10.875px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - -159.81px);
  top: 75.96px;
  width: 16.56px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-sc-fqkv-vr .div-sc-ee-drcy2 {
  background: rgba(34, 34, 38, 0.15);
  width: 1px;
  position: absolute;
  left: 367px;
  bottom: 651.85px;
  top: 75.95999908447266px;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr18 {
  width: 187.97px;
  height: 32px;
  position: absolute;
  left: 179.03px;
  top: calc(50% - 303.94px);
  overflow: hidden;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr19 {
  width: 171.97px;
  height: 32px;
  position: absolute;
  left: 8px;
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c7 {
  width: 78.19px;
  height: 16px;
  position: absolute;
  left: calc(50% - -7.79px);
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .in-j-worrall {
  color: #222226;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13.5625px;
  line-height: 15.96px;
  font-weight: 400;
  position: absolute;
  right: -0.2px;
  top: -1px;
  width: 78.39px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c8 {
  width: 89.78px;
  height: 16px;
  position: absolute;
  left: calc(50% - 85.99px);
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .out-a-elanga {
  color: rgba(34, 34, 38, 0.45);
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13.453125px;
  line-height: 15.96px;
  font-weight: 400;
  position: absolute;
  right: -0.2px;
  top: -1px;
  width: 89.98px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div-sc-fqkv-vr .additional-time-6 {
  color: #222226;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 11.4375px;
  line-height: 15.96px;
  font-weight: 500;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 103.96px;
  width: 96.45px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-sc-fqkv-vr .svg7 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: calc(50% - 212px);
  top: calc(50% - 243.99px);
  overflow: visible;
}
.div-sc-fqkv-vr ._88 {
  color: rgba(34, 34, 38, 0.45);
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 11.0625px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 176.19px);
  top: 131.91px;
  width: 16.56px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-sc-fqkv-vr .div-sc-ee-drcy3 {
  background: rgba(34, 34, 38, 0.15);
  width: 1px;
  position: absolute;
  left: 72px;
  bottom: 595.9px;
  top: 131.91000366210938px;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr20 {
  width: 202.39px;
  height: 32px;
  position: absolute;
  left: 73px;
  top: calc(50% - 247.99px);
  overflow: hidden;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr21 {
  width: 186.39px;
  height: 32px;
  position: absolute;
  left: 8px;
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c9 {
  width: 84.67px;
  height: 16px;
  position: absolute;
  left: calc(50% - 93.19px);
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .fabian-sch-r {
  color: #222226;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13.671875px;
  line-height: 15.96px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -1px;
  width: 84.87px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c10 {
  width: 97.72px;
  height: 16px;
  position: absolute;
  left: calc(50% - 4.53px);
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .off-the-ball-foul {
  color: rgba(34, 34, 38, 0.45);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13.34375px;
  line-height: 15.96px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -1px;
  width: 97.92px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-sc-fqkv-vr .svg8 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: calc(50% - 212px);
  top: calc(50% - 211.99px);
  overflow: visible;
}
.div-sc-fqkv-vr ._85 {
  color: rgba(34, 34, 38, 0.45);
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 11.25px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 176.19px);
  top: 163.91px;
  width: 16.56px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-sc-fqkv-vr .div-sc-ee-drcy4 {
  background: rgba(34, 34, 38, 0.15);
  width: 1px;
  position: absolute;
  left: 72px;
  bottom: 563.9px;
  top: 163.91000366210938px;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr22 {
  width: 159.73px;
  height: 32px;
  position: absolute;
  left: 73px;
  top: calc(50% - 215.99px);
  overflow: hidden;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr23 {
  width: 143.73px;
  height: 32px;
  position: absolute;
  left: 8px;
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c11 {
  width: 112.13px;
  height: 16px;
  position: absolute;
  left: calc(50% - 71.86px);
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .bruno-guimar-es {
  color: #222226;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13.78125px;
  line-height: 15.96px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -1px;
  width: 112.33px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c12 {
  width: 27.61px;
  height: 16px;
  position: absolute;
  left: calc(50% - -44.26px);
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .foul {
  color: rgba(34, 34, 38, 0.45);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 15.96px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -1px;
  width: 27.81px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-sc-fqkv-vr .svg9 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: calc(50% - -188px);
  top: calc(50% - 179.99px);
  overflow: visible;
}
.div-sc-fqkv-vr ._84 {
  color: rgba(34, 34, 38, 0.45);
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 10.875px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - -159.81px);
  top: 195.91px;
  width: 16.56px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-sc-fqkv-vr .div-sc-ee-drcy5 {
  background: rgba(34, 34, 38, 0.15);
  width: 1px;
  position: absolute;
  left: 367px;
  bottom: 531.9px;
  top: 195.91000366210938px;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr24 {
  width: 196.45px;
  height: 32px;
  position: absolute;
  left: 170.55px;
  top: calc(50% - 183.99px);
  overflow: hidden;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr25 {
  width: 180.45px;
  height: 32px;
  position: absolute;
  left: 8px;
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c13 {
  width: 90.92px;
  height: 16px;
  position: absolute;
  left: calc(50% - 0.69px);
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .neco-williams {
  color: #222226;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13.671875px;
  line-height: 15.96px;
  font-weight: 400;
  position: absolute;
  right: -0.2px;
  top: -1px;
  width: 91.12px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c14 {
  width: 85.53px;
  height: 16px;
  position: absolute;
  left: calc(50% - 90.22px);
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .time-wasting {
  color: rgba(34, 34, 38, 0.45);
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13.5625px;
  line-height: 15.96px;
  font-weight: 400;
  position: absolute;
  right: -0.2px;
  top: -1px;
  width: 85.73px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div-sc-fqkv-vr .svg10 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: calc(50% - -188px);
  top: calc(50% - 147.99px);
  overflow: visible;
}
.div-sc-fqkv-vr ._79 {
  color: rgba(34, 34, 38, 0.45);
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 11.625px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - -159.81px);
  top: 227.91px;
  width: 16.56px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-sc-fqkv-vr .div-sc-ee-drcy6 {
  background: rgba(34, 34, 38, 0.15);
  width: 1px;
  position: absolute;
  left: 367px;
  bottom: 499.9px;
  top: 227.91000366210938px;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr26 {
  width: 259.13px;
  height: 32px;
  position: absolute;
  left: 107.88px;
  top: calc(50% - 151.99px);
  overflow: hidden;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr27 {
  width: 243.13px;
  height: 32px;
  position: absolute;
  left: 8px;
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c15 {
  width: 108.03px;
  height: 16px;
  position: absolute;
  left: calc(50% - -13.52px);
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .in-n-dom-nguez {
  color: #222226;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13.453125px;
  line-height: 15.96px;
  font-weight: 400;
  position: absolute;
  right: -0.2px;
  top: -1px;
  width: 108.23px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c16 {
  width: 131.09px;
  height: 16px;
  position: absolute;
  left: calc(50% - 121.57px);
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .out-c-hudson-odoi {
  color: rgba(34, 34, 38, 0.45);
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13.234375px;
  line-height: 15.96px;
  font-weight: 400;
  position: absolute;
  right: -0.2px;
  top: -1px;
  width: 131.29px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div-sc-fqkv-vr .svg11 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: calc(50% - 212px);
  top: calc(50% - 115.99px);
  overflow: visible;
}
.div-sc-fqkv-vr ._792 {
  color: rgba(34, 34, 38, 0.45);
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 11.625px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 176.19px);
  top: 259.91px;
  width: 16.56px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-sc-fqkv-vr .div-sc-ee-drcy7 {
  background: rgba(34, 34, 38, 0.15);
  width: 1px;
  position: absolute;
  left: 72px;
  bottom: 467.9px;
  top: 259.9100036621094px;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr28 {
  width: 173.03px;
  height: 32px;
  position: absolute;
  left: 73px;
  top: calc(50% - 119.99px);
  overflow: hidden;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr29 {
  width: 157.03px;
  height: 32px;
  position: absolute;
  left: 8px;
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c17 {
  width: 57.13px;
  height: 16px;
  position: absolute;
  left: calc(50% - 78.51px);
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .in-l-hall {
  color: #222226;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13.234375px;
  line-height: 15.96px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -1px;
  width: 57.33px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c18 {
  width: 95.91px;
  height: 16px;
  position: absolute;
  left: calc(50% - 17.38px);
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .out-s-botman {
  color: rgba(34, 34, 38, 0.45);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13.5625px;
  line-height: 15.96px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -1px;
  width: 96.11px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-sc-fqkv-vr .svg12 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: calc(50% - 212px);
  top: calc(50% - 83.99px);
  overflow: visible;
}
.div-sc-fqkv-vr ._71 {
  color: rgba(34, 34, 38, 0.45);
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 176.19px);
  top: 291.91px;
  width: 16.56px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-sc-fqkv-vr .div-sc-ee-drcy8 {
  background: rgba(34, 34, 38, 0.15);
  width: 1px;
  position: absolute;
  left: 72px;
  bottom: 435.9px;
  top: 291.9100036621094px;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr30 {
  width: 205.47px;
  height: 32px;
  position: absolute;
  left: 73px;
  top: calc(50% - 87.99px);
  overflow: hidden;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr31 {
  width: 189.47px;
  height: 32px;
  position: absolute;
  left: 8px;
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c19 {
  width: 78.53px;
  height: 16px;
  position: absolute;
  left: calc(50% - 94.74px);
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .in-joelinton {
  color: #222226;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13.671875px;
  line-height: 15.96px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -1px;
  width: 78.73px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c20 {
  width: 106.94px;
  height: 16px;
  position: absolute;
  left: calc(50% - 12.21px);
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .out-s-longstaff {
  color: rgba(34, 34, 38, 0.45);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13.34375px;
  line-height: 15.96px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -1px;
  width: 107.14px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-sc-fqkv-vr .svg13 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: calc(50% - -188px);
  top: calc(50% - 51.99px);
  overflow: visible;
}
.div-sc-fqkv-vr ._70 {
  color: rgba(34, 34, 38, 0.45);
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 11.4375px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - -159.81px);
  top: 323.91px;
  width: 16.56px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-sc-fqkv-vr .div-sc-ee-drcy9 {
  background: rgba(34, 34, 38, 0.15);
  width: 1px;
  position: absolute;
  left: 367px;
  bottom: 403.9px;
  top: 323.9100036621094px;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr32 {
  width: 183.16px;
  height: 32px;
  position: absolute;
  left: 183.84px;
  top: calc(50% - 55.99px);
  overflow: hidden;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr33 {
  width: 167.16px;
  height: 32px;
  position: absolute;
  left: 8px;
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c21 {
  width: 68.92px;
  height: 16px;
  position: absolute;
  left: calc(50% - -14.66px);
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .in-r-yates {
  color: #222226;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13.234375px;
  line-height: 15.96px;
  font-weight: 400;
  position: absolute;
  right: -0.2px;
  top: -1px;
  width: 69.12px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c22 {
  width: 94.23px;
  height: 16px;
  position: absolute;
  left: calc(50% - 83.58px);
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .out-i-sangar {
  color: rgba(34, 34, 38, 0.45);
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13.453125px;
  line-height: 15.96px;
  font-weight: 400;
  position: absolute;
  right: -0.2px;
  top: -1px;
  width: 94.43px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div-sc-fqkv-vr .svg14 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: calc(50% - -188px);
  top: calc(50% - 19.99px);
  overflow: visible;
}
.div-sc-fqkv-vr ._702 {
  color: rgba(34, 34, 38, 0.45);
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 11.4375px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - -159.81px);
  top: 355.91px;
  width: 16.56px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-sc-fqkv-vr .div-sc-ee-drcy10 {
  background: rgba(34, 34, 38, 0.15);
  width: 1px;
  position: absolute;
  left: 367px;
  bottom: 371.9px;
  top: 355.9100036621094px;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr34 {
  width: 203.89px;
  height: 32px;
  position: absolute;
  left: 163.11px;
  top: calc(50% - 23.99px);
  overflow: hidden;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr35 {
  width: 187.89px;
  height: 32px;
  position: absolute;
  left: 8px;
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c23 {
  width: 88.84px;
  height: 16px;
  position: absolute;
  left: calc(50% - -5.11px);
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .in-n-williams {
  color: #222226;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13.453125px;
  line-height: 15.96px;
  font-weight: 400;
  position: absolute;
  right: -0.2px;
  top: -1px;
  width: 89.04px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c24 {
  width: 95.05px;
  height: 16px;
  position: absolute;
  left: calc(50% - 93.94px);
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .out-g-montiel {
  color: rgba(34, 34, 38, 0.45);
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13.453125px;
  line-height: 15.96px;
  font-weight: 400;
  position: absolute;
  right: -0.2px;
  top: -1px;
  width: 95.25px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div-sc-fqkv-vr .svg15 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: calc(50% - -188px);
  top: calc(50% - -12.01px);
  overflow: hidden;
}
.div-sc-fqkv-vr .group7 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.div-sc-fqkv-vr ._60 {
  color: rgba(34, 34, 38, 0.45);
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 10.875px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - -159.81px);
  top: 387.91px;
  width: 16.56px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-sc-fqkv-vr .div-sc-ee-drcy11 {
  background: rgba(34, 34, 38, 0.15);
  width: 1px;
  position: absolute;
  left: 367px;
  bottom: 339.9px;
  top: 387.9100036621094px;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr36 {
  width: 227.73px;
  height: 32px;
  position: absolute;
  left: 139.27px;
  top: calc(50% - -8.01px);
  overflow: hidden;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c25 {
  height: 23.94px;
  position: absolute;
  right: 8px;
  left: 175.97999572753906px;
  top: 4.03px;
}
.div-sc-fqkv-vr ._1-3 {
  color: #222226;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17.15625px;
  line-height: 23.94px;
  font-weight: 700;
  position: absolute;
  left: 8px;
  top: 0px;
  width: 35.95px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr37 {
  width: 167.98px;
  height: 32px;
  position: absolute;
  left: 8px;
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c26 {
  width: 74.08px;
  height: 16px;
  position: absolute;
  left: calc(50% - -9.91px);
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .chris-wood2 {
  color: #222226;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13.5625px;
  line-height: 15.96px;
  font-weight: 400;
  position: absolute;
  right: -0.2px;
  top: -1px;
  width: 74.28px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c27 {
  width: 89.91px;
  height: 16px;
  position: absolute;
  left: calc(50% - 83.99px);
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .assist-murillo {
  color: rgba(34, 34, 38, 0.45);
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13.671875px;
  line-height: 15.96px;
  font-weight: 400;
  position: absolute;
  right: -0.2px;
  top: -1px;
  width: 90.11px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div-sc-fqkv-vr .svg16 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: calc(50% - 212px);
  top: calc(50% - -44.01px);
  overflow: visible;
}
.div-sc-fqkv-vr ._55 {
  color: rgba(34, 34, 38, 0.45);
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 11.25px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 176.19px);
  top: 419.91px;
  width: 16.56px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-sc-fqkv-vr .div-sc-ee-drcy12 {
  background: rgba(34, 34, 38, 0.15);
  width: 1px;
  position: absolute;
  left: 72px;
  bottom: 307.9px;
  top: 419.9100036621094px;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr38 {
  width: 202.23px;
  height: 32px;
  position: absolute;
  left: 73px;
  top: calc(50% - -40.01px);
  overflow: hidden;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr39 {
  width: 186.23px;
  height: 32px;
  position: absolute;
  left: 8px;
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c28 {
  width: 105.41px;
  height: 16px;
  position: absolute;
  left: calc(50% - 93.11px);
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .in-v-livramento {
  color: #222226;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13.453125px;
  line-height: 15.96px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -1px;
  width: 105.61px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c29 {
  width: 76.83px;
  height: 16px;
  position: absolute;
  left: calc(50% - -16.3px);
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .out-d-burn {
  color: rgba(34, 34, 38, 0.45);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13.453125px;
  line-height: 15.96px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -1px;
  width: 77.03px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-sc-fqkv-vr .svg17 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: calc(50% - 212px);
  top: calc(50% - -76.01px);
  overflow: visible;
}
.div-sc-fqkv-vr ._552 {
  color: rgba(34, 34, 38, 0.45);
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 11.25px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 176.19px);
  top: 451.91px;
  width: 16.56px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-sc-fqkv-vr .div-sc-ee-drcy13 {
  background: rgba(34, 34, 38, 0.15);
  width: 1px;
  position: absolute;
  left: 72px;
  bottom: 275.9px;
  top: 451.9100036621094px;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr40 {
  width: 195.38px;
  height: 32px;
  position: absolute;
  left: 73px;
  top: calc(50% - -72.01px);
  overflow: hidden;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr41 {
  width: 179.38px;
  height: 32px;
  position: absolute;
  left: 8px;
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c30 {
  width: 77.5px;
  height: 16px;
  position: absolute;
  left: calc(50% - 89.69px);
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .in-c-wilson {
  color: #222226;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13.34375px;
  line-height: 15.96px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -1px;
  width: 77.7px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c31 {
  width: 97.88px;
  height: 16px;
  position: absolute;
  left: calc(50% - 8.19px);
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .out-m-almir-n {
  color: rgba(34, 34, 38, 0.45);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13.453125px;
  line-height: 15.96px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -1px;
  width: 98.08px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-sc-fqkv-vr .svg18 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: calc(50% - -188px);
  top: calc(50% - -108.01px);
  overflow: hidden;
}
.div-sc-fqkv-vr .group8 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.div-sc-fqkv-vr ._53 {
  color: rgba(34, 34, 38, 0.45);
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 11.0625px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - -159.81px);
  top: 483.91px;
  width: 16.56px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-sc-fqkv-vr .div-sc-ee-drcy14 {
  background: rgba(34, 34, 38, 0.15);
  width: 1px;
  position: absolute;
  left: 367px;
  bottom: 243.9px;
  top: 483.9100036621094px;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr42 {
  width: 243.45px;
  height: 32px;
  position: absolute;
  left: 123.55px;
  top: calc(50% - -104.01px);
  overflow: hidden;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c32 {
  height: 23.94px;
  position: absolute;
  right: 8px;
  left: 191.6999969482422px;
  top: 4.03px;
}
.div-sc-fqkv-vr ._1-2 {
  color: #222226;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17.4375px;
  line-height: 23.94px;
  font-weight: 700;
  position: absolute;
  left: 8px;
  top: 0px;
  width: 35.95px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr43 {
  width: 183.7px;
  height: 32px;
  position: absolute;
  left: 8px;
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c33 {
  width: 74.08px;
  height: 16px;
  position: absolute;
  left: calc(50% - -17.77px);
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c34 {
  width: 105.63px;
  height: 16px;
  position: absolute;
  left: calc(50% - 91.85px);
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .assist-a-elanga {
  color: rgba(34, 34, 38, 0.45);
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13.5625px;
  line-height: 15.96px;
  font-weight: 400;
  position: absolute;
  right: -0.2px;
  top: -1px;
  width: 105.83px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr44 {
  background: #f4f7ff;
  border-radius: 16px;
  height: 23.95px;
  position: absolute;
  right: 8px;
  left: 8px;
  top: 519.91px;
}
.div-sc-fqkv-vr .ht-1-1 {
  color: #222226;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13.671875px;
  line-height: 15.96px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 3px;
  width: 48.81px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-sc-fqkv-vr .svg19 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: calc(50% - -188px);
  top: calc(50% - -179.95px);
  overflow: hidden;
}
.div-sc-fqkv-vr .group9 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c35 {
  height: 24px;
  position: absolute;
  right: 36px;
  left: 372px;
  top: 555.86px;
}
.div-sc-fqkv-vr ._45 {
  color: rgba(34, 34, 38, 0.45);
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 11.0625px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 14.36px);
  top: 4px;
  width: 16.56px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-sc-fqkv-vr .div-sc-ee-drcy15 {
  background: rgba(34, 34, 38, 0.15);
  width: 1px;
  position: absolute;
  left: 367px;
  bottom: 171.95px;
  top: 555.8599853515625px;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr45 {
  width: 243.45px;
  height: 32px;
  position: absolute;
  left: 123.55px;
  top: calc(50% - -175.95px);
  overflow: hidden;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c36 {
  height: 23.94px;
  position: absolute;
  right: 8px;
  left: 191.6999969482422px;
  top: 4.04px;
}
.div-sc-fqkv-vr ._1-1 {
  color: #222226;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  line-height: 23.94px;
  font-weight: 700;
  position: absolute;
  left: 8px;
  top: 0px;
  width: 35.95px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-sc-fqkv-vr .additional-time-3 {
  color: #222226;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 11.4375px;
  line-height: 15.96px;
  font-weight: 500;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 583.86px;
  width: 96.45px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-sc-fqkv-vr .svg20 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: calc(50% - 212px);
  top: calc(50% - -235.92px);
  overflow: visible;
}
.div-sc-fqkv-vr ._27 {
  color: rgba(34, 34, 38, 0.45);
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 11.625px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 176.19px);
  top: 611.82px;
  width: 16.56px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-sc-fqkv-vr .div-sc-ee-drcy16 {
  background: rgba(34, 34, 38, 0.15);
  width: 1px;
  position: absolute;
  left: 72px;
  bottom: 115.99px;
  top: 611.8200073242188px;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr46 {
  width: 152.88px;
  height: 32px;
  position: absolute;
  left: 73px;
  top: calc(50% - -231.92px);
  overflow: hidden;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr47 {
  width: 136.88px;
  height: 32px;
  position: absolute;
  left: 8px;
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c37 {
  width: 105.27px;
  height: 16px;
  position: absolute;
  left: calc(50% - 68.44px);
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .anthony-gordon {
  color: #222226;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13.5625px;
  line-height: 15.96px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -1px;
  width: 105.47px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c38 {
  width: 27.61px;
  height: 16px;
  position: absolute;
  left: calc(50% - -40.83px);
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .svg21 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: calc(50% - -188px);
  top: calc(50% - -267.92px);
  overflow: visible;
}
.div-sc-fqkv-vr ._272 {
  color: rgba(34, 34, 38, 0.45);
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 11.625px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - -159.81px);
  top: 643.82px;
  width: 16.56px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-sc-fqkv-vr .div-sc-ee-drcy17 {
  background: rgba(34, 34, 38, 0.15);
  width: 1px;
  position: absolute;
  left: 367px;
  bottom: 83.99px;
  top: 643.8200073242188px;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr48 {
  width: 188.52px;
  height: 32px;
  position: absolute;
  left: 178.48px;
  top: calc(50% - -263.92px);
  overflow: hidden;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr49 {
  width: 172.52px;
  height: 32px;
  position: absolute;
  left: 8px;
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c39 {
  width: 104.56px;
  height: 16px;
  position: absolute;
  left: calc(50% - 18.3px);
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .gonzalo-montiel {
  color: #222226;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13.671875px;
  line-height: 15.96px;
  font-weight: 400;
  position: absolute;
  right: -0.2px;
  top: -1px;
  width: 104.76px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c40 {
  width: 63.95px;
  height: 16px;
  position: absolute;
  left: calc(50% - 86.26px);
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .argument {
  color: rgba(34, 34, 38, 0.45);
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13.78125px;
  line-height: 15.96px;
  font-weight: 400;
  position: absolute;
  right: -0.2px;
  top: -1px;
  width: 64.15px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div-sc-fqkv-vr .svg22 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: calc(50% - -188px);
  top: calc(50% - -299.92px);
  overflow: visible;
}
.div-sc-fqkv-vr ._26 {
  color: rgba(34, 34, 38, 0.45);
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 11.25px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - -159.81px);
  top: 675.82px;
  width: 16.56px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-sc-fqkv-vr .div-sc-ee-drcy18 {
  background: rgba(34, 34, 38, 0.15);
  width: 1px;
  position: absolute;
  left: 367px;
  bottom: 51.99px;
  top: 675.8200073242188px;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr50 {
  width: 153.41px;
  height: 32px;
  position: absolute;
  left: 213.59px;
  top: calc(50% - -295.92px);
  overflow: hidden;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr51 {
  width: 137.41px;
  height: 32px;
  position: absolute;
  left: 8px;
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c41 {
  width: 105.8px;
  height: 16px;
  position: absolute;
  left: calc(50% - 37.1px);
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .ibrahim-sangar {
  color: #222226;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13.671875px;
  line-height: 15.96px;
  font-weight: 400;
  position: absolute;
  right: -0.2px;
  top: -1px;
  width: 106px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c42 {
  width: 27.61px;
  height: 16px;
  position: absolute;
  left: calc(50% - 68.71px);
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .foul2 {
  color: rgba(34, 34, 38, 0.45);
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 15.96px;
  font-weight: 400;
  position: absolute;
  right: -0.2px;
  top: -1px;
  width: 27.81px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.div-sc-fqkv-vr .svg23 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: calc(50% - 212px);
  top: calc(50% - -331.92px);
  overflow: visible;
}
.div-sc-fqkv-vr ._23 {
  color: rgba(34, 34, 38, 0.45);
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 11.0625px;
  line-height: 24px;
  font-weight: 500;
  position: absolute;
  left: calc(50% - 176.19px);
  top: 707.82px;
  width: 16.56px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-sc-fqkv-vr .div-sc-ee-drcy19 {
  background: rgba(34, 34, 38, 0.15);
  width: 1px;
  position: absolute;
  left: 72px;
  bottom: 19.99px;
  top: 707.8200073242188px;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr52 {
  width: 153.92px;
  height: 32px;
  position: absolute;
  left: 73px;
  top: calc(50% - -327.92px);
  overflow: hidden;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c43 {
  height: 23.94px;
  position: absolute;
  right: 102.17px;
  left: 8px;
  top: 4.03px;
}
.div-sc-fqkv-vr ._1-0 {
  color: #222226;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17.015625px;
  line-height: 23.94px;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 35.95px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-sc-fqkv-vr .div-sc-fqkv-vr53 {
  width: 94.17px;
  height: 32px;
  position: absolute;
  left: 51.75px;
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .div-sc-j-ea-cw-c44 {
  width: 94.17px;
  height: 16px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: hidden;
}
.div-sc-fqkv-vr .alexander-isak2 {
  color: #222226;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 13.5625px;
  line-height: 15.96px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: -1px;
  width: 94.37px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
