.advertisement4{
    width: 720px;
    height: 190px;
    background-color: #fff;
    border-radius: 20px;
}

.group-10,
.group-10 * {
  box-sizing: border-box;
}
.group-10 {
  position: relative;
}
.group-10 .div-fs-news-widget {
  background: #ffffff;
  border-radius: 18px;
  height: 203px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  box-shadow: var(--1-box-shadow, 0px 1px 8px 2px rgba(34, 34, 38, 0.08));
}
.group-10 .div-fs-news-widget-heading {
  position: absolute;
  right: 9.73px;
  left: 9.506558418273926px;
  bottom: 179.23px;
  top: 9.506522178649902px;
}
.group-10 .div-fs-news-widget-articles {
  position: absolute;
  right: 9.73px;
  left: 9.506558418273926px;
  bottom: 36.24px;
  top: 33.2728271484375px;
}
.group-10 .link {
  height: 133.48px;
  position: absolute;
  right: 266.18px;
  left: 0px;
  top: 0px;
}
.group-10 .figure-picture {
  border-radius: 4.75px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 51.1px;
  top: 0px;
  overflow: hidden;
}
.group-10 .span-fs-news-widget-article-title {
  position: absolute;
  right: 0px;
  left: -0.00003378732071723789px;
  bottom: 14.26px;
  top: 87.13919830322266px;
}
.group-10 .div-news-meta-gh-8-ui-5 {
  position: absolute;
  right: 0px;
  left: -0.00003378732071723789px;
  bottom: 0px;
  top: 123.97703552246094px;
}
.group-10 .link2 {
  height: 122.79px;
  position: absolute;
  right: 133.09px;
  left: 133.09127807617188px;
  top: 0px;
}
.group-10 .figure-picture2 {
  border-radius: 4.75px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 40.4px;
  top: 0px;
  overflow: hidden;
}
.group-10 .span-fs-news-widget-article-title2 {
  position: absolute;
  right: 0px;
  left: 0.00009264265099773183px;
  bottom: 14.26px;
  top: 87.13919830322266px;
}
.group-10 .div-news-meta-gh-8-ui-52 {
  position: absolute;
  right: 0px;
  left: 0.00009264265099773183px;
  bottom: 0px;
  top: 113.28219604492188px;
}
.group-10 .link3 {
  height: 133.48px;
  position: absolute;
  right: 0px;
  left: 266.1827087402344px;
  top: 0px;
}
.group-10 .span-fs-news-widget-article-title3 {
  position: absolute;
  right: 0px;
  left: 0.00034550257259979844px;
  bottom: 14.26px;
  top: 87.13919830322266px;
}
.group-10 .div-news-meta-gh-8-ui-53 {
  position: absolute;
  right: 0px;
  left: 0.00034550257259979844px;
  bottom: 0px;
  top: 123.97703552246094px;
}
.group-10 .span-fs-news-widget-news-more {
  border-style: solid;
  border-color: #eeeeee;
  border-width: 0.59px 0px 0px 0px;
  position: absolute;
  right: 9.73px;
  left: 9.506558418273926px;
  bottom: 9.51px;
  top: 176.26284790039062px;
}
.group-10 .link4 {
  width: 51.66px;
  height: 8.32px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 8.32px;
  overflow: hidden;
}
.group-10 .view-more-news {
  color: #001e28;
  text-align: center;
  font-family: "Arial-Bold", sans-serif;
  font-size: 6.572872161865234px;
  line-height: 9.51px;
  font-weight: 700;
  text-decoration: underline;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 0px;
  width: 51.77px;
  height: 8.32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-10 .group-1 {
  position: absolute;
  inset: 0;
}
.group-10 .e-869-a-481-1-a-54-4547-8-fd-1-065686-abbaaf-avif {
  border-radius: 10px;
  width: 17.49%;
  height: 50.54%;
  position: absolute;
  right: 80.58%;
  left: 1.93%;
  bottom: 45.52%;
  top: 3.94%;
  overflow: hidden;
  object-fit: cover;
}
.group-10
  .spurs-postecoglou-hoping-for-early-business-in-january-transfer-window {
  color: #001e28;
  text-align: left;
  font-family: "Arial-Bold", sans-serif;
  font-size: 8.7919340133667px;
  line-height: 13.32px;
  font-weight: 700;
  position: absolute;
  left: 17px;
  top: 117.25px;
  width: 154px;
  height: 38.47px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-10 ._1-h-ago {
  color: #999999;
  text-align: left;
  font-family: "Arial-Narrow", sans-serif;
  font-size: 8.878639221191406px;
  line-height: 11.84px;
  font-weight: 400;
  position: absolute;
  left: 17px;
  top: 163.12px;
  width: 28.57px;
  height: 10.36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-10 .group-3 {
  position: absolute;
  inset: 0;
}
.group-10 .e-869-a-481-1-a-54-4547-8-fd-1-065686-abbaaf-avif2 {
  border-radius: 10px;
  width: 17.49%;
  height: 50.54%;
  position: absolute;
  right: 41.26%;
  left: 41.25%;
  bottom: 45.52%;
  top: 3.94%;
  overflow: hidden;
  object-fit: cover;
}
.group-10
  .spurs-postecoglou-hoping-for-early-business-in-january-transfer-window2 {
  color: #001e28;
  text-align: left;
  font-family: "Arial-Bold", sans-serif;
  font-size: 8.7919340133667px;
  line-height: 13.32px;
  font-weight: 700;
  position: absolute;
  left: 363px;
  top: 117.25px;
  width: 154px;
  height: 38.47px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-10 ._1-h-ago2 {
  color: #999999;
  text-align: left;
  font-family: "Arial-Narrow", sans-serif;
  font-size: 8.878639221191406px;
  line-height: 11.84px;
  font-weight: 400;
  position: absolute;
  left: 363px;
  top: 163.12px;
  width: 28.57px;
  height: 10.36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-10 .group-2 {
  position: absolute;
  inset: 0;
}
.group-10 .e-869-a-481-1-a-54-4547-8-fd-1-065686-abbaaf-avif3 {
  border-radius: 10px;
  width: 17.49%;
  height: 50.54%;
  position: absolute;
  right: 60.92%;
  left: 21.59%;
  bottom: 45.52%;
  top: 3.94%;
  overflow: hidden;
  object-fit: cover;
}
.group-10
  .spurs-postecoglou-hoping-for-early-business-in-january-transfer-window3 {
  color: #001e28;
  text-align: left;
  font-family: "Arial-Bold", sans-serif;
  font-size: 8.7919340133667px;
  line-height: 13.32px;
  font-weight: 700;
  position: absolute;
  left: 190px;
  top: 117.25px;
  width: 154px;
  height: 38.47px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-10 ._1-h-ago3 {
  color: #999999;
  text-align: left;
  font-family: "Arial-Narrow", sans-serif;
  font-size: 8.878639221191406px;
  line-height: 11.84px;
  font-weight: 400;
  position: absolute;
  left: 190px;
  top: 163.12px;
  width: 28.57px;
  height: 10.36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-10 .group-4 {
  position: absolute;
  inset: 0;
}
.group-10 .e-869-a-481-1-a-54-4547-8-fd-1-065686-abbaaf-avif4 {
  border-radius: 10px;
  width: 17.49%;
  height: 50.54%;
  position: absolute;
  right: 21.6%;
  left: 60.91%;
  bottom: 45.52%;
  top: 3.94%;
  overflow: hidden;
  object-fit: cover;
}
.group-10
  .spurs-postecoglou-hoping-for-early-business-in-january-transfer-window4 {
  color: #001e28;
  text-align: left;
  font-family: "Arial-Bold", sans-serif;
  font-size: 8.7919340133667px;
  line-height: 13.32px;
  font-weight: 700;
  position: absolute;
  left: 536px;
  top: 117.25px;
  width: 154px;
  height: 38.47px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-10 ._1-h-ago4 {
  color: #999999;
  text-align: left;
  font-family: "Arial-Narrow", sans-serif;
  font-size: 8.878639221191406px;
  line-height: 11.84px;
  font-weight: 400;
  position: absolute;
  left: 536px;
  top: 163.12px;
  width: 28.57px;
  height: 10.36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-10 .group-5 {
  position: absolute;
  inset: 0;
}
.group-10 .e-869-a-481-1-a-54-4547-8-fd-1-065686-abbaaf-avif5 {
  border-radius: 10px;
  width: 17.49%;
  height: 50.54%;
  position: absolute;
  right: 1.94%;
  left: 80.57%;
  bottom: 45.52%;
  top: 3.94%;
  overflow: hidden;
  object-fit: cover;
}
.group-10
  .spurs-postecoglou-hoping-for-early-business-in-january-transfer-window5 {
  color: #001e28;
  text-align: left;
  font-family: "Arial-Bold", sans-serif;
  font-size: 8.7919340133667px;
  line-height: 13.32px;
  font-weight: 700;
  position: absolute;
  left: 709px;
  top: 117.25px;
  width: 154px;
  height: 38.47px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-10 ._1-h-ago5 {
  color: #999999;
  text-align: left;
  font-family: "Arial-Narrow", sans-serif;
  font-size: 8.878639221191406px;
  line-height: 11.84px;
  font-weight: 400;
  position: absolute;
  left: 709px;
  top: 163.12px;
  width: 28.57px;
  height: 10.36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
